body {
  font-family: 'Chivo Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.story {
  display: flex;
  align-items: center;
  justify-content:baseline;
  color: #fff;
  background-color: #063f78;
  margin: 10px 5px;
  padding: 20px;
}

.story-index {
  padding: 20px;
  border: 1px solid #fff;
  margin-right: 50px;
}

.comment-list {
  display: flex;
  flex-flow: wrap;
}

.comment {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.flex {
  display: flex;
  align-items: center;
}

img {
  margin: 0 20px;
}